*~
*.o
*.mod
*.a
*.so
*.unit
*.vtu
*.vtk
*.cgns
*.reg
*.log
*.aux
*.pdf
*.toc
*.lof
*.svn
*.png
*.jpg
documentation
install
build/*
theory/*.reg
theroy/*.log
theory/*.aux
theory/*.pdf
theory/*.toc
theory/*.lof
theory/*/*.reg
theroy/*/*.log
theory/*/*.aux
theory/*/*.pdf
theory/*/*.toc
theory/*/*.lof
